# Entornos virtuales
venv/
env/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno
.env
*.env

# Archivos de logs y temporales
*.log
*.sqlite3

# Configuración de VSCode
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db
